<h1>WELCOME TO STYLY</h1>
<%= render partial: 'form' %>
<%= form_for @user do |f| %>
  <%= f.label :Username %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.text_field :password %>




  <%= f.submit %>
<% end %>
