<div class="Ralph">
  <h1 class="lauren"><%= @designer.name %></h1>
</div>


<img src= <%= @designer.img_url %> class="rounded mx-auto d-block">
<div class="arturo">

<h4>Style:</h4><%= @designer.style %>
</div>

<% @designer.events.each do |event|  %>
    <h2>Title:</h2><%=  event.title   %>
    <br></br>
    <h2>Description:</h2>  <%=  event.description%>
    <br></br>
    <h2>Location:</h2>    <%= event.location %>
    <br></br>
    <h2>Time:</h2>    <%= event.time %>

<% end %>
<%= button_to "Events of this designer", events_path, method: :get, :class =>'btn btn-primary' %>
