<h1><%= @designer.name %></h1>
<img src= <%= @designer.img_url %> alt="Hey">

<br></br>
<h4>Style:</h4><%= @designer.style %>


<% @designer.events.each do |event|  %>
    <h2>Title:</h2><%=  event.title   %>
    <br></br>
    <h2>Description:</h2>  <%=  event.description%>
    <br></br>
    <h2>Location:</h2>    <%= event.location %>
    <br></br>
    <h2>Time:</h2>    <%= event.time %>
          <% end %>


<%= button_to "Events", events_path, method: :get %>
<%= button_to "go back to Designers", designers_path, method: :get %>
