<!DOCTYPE html>
<html>
  <head>
    <title>ProjectModule2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= button_to "Designers", designers_path, method: :get %> <%= button_to "Events", events_path, method: :get %>
    <%= yield %>
  </body>
</html>
